@import "tailwindcss";

:root {
  --table: #7888e4;
}

.bg-table{
  background: var(--table);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 25s linear infinite;
  width: max-content; /* allow natural content width */
}